@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fbbe24;
  --color-primary-rgb: 251, 190, 36;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  
  --color-seccondary: #38bef8;
  --color-seccondary-rgb: 56, 190, 248;
  --color-seccondary-contrast: #ffffff;
  --color-seccondary-contrast-rgb: 255, 255, 255;

  --color-attention: #f43f5d;
  --color-attention-rgb: 244, 63, 93;
  --color-attention-contrast: #ffffff;
  --color-attention-contrast-rgb: 255, 255, 255;

  --color-black: #171717;
  --color-black-rgb: 23, 23, 23;
  --color-black-contrast: #ffffff;
  --color-black-contrast-rgb: 255, 255, 255;

  --color-gray: #737373;
  --color-gray-rgb: 115, 115, 115;
  --color-gray-contrast: #ffffff;
  --color-gray-contrast-rgb: 255, 255, 255;

  --color-light-gray: #e5e5e5;
  --color-light-gray-rgb: 229, 229, 229;
  --color-light-gray-contrast: var(--color-gray);
  --color-light-gray-contrast-rgb: var(--color-gray-rgb);

  --color-base-gray: #f5f5f5;
  --color-base-gray-rgb: 245, 245, 245;
  --color-base-gray-contrast: var(--color-gray);
  --color-base-gray-contrast-rgb: var(--color-gray-rgb);
}

.cl-userButtonTrigger,
.cl-avatarBox {
  width: 36px;
  height: 36px;
}

.child-width {
  width: calc(100vw - 50px);
}

@media (min-width: 768px) {
  .child-width {
    width: calc(100vw - 255px);
  }
}
